beautifulsoup4==4.13.4
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.1.8
colorama==0.4.6
filelock==3.18.0
idna==3.10
joblib==1.4.2
lxml==5.4.0
nltk==3.9.1
numpy==2.2.4
pandas==2.2.3
PySocks==1.7.1
python-dateutil==2.9.0.post0
pytz==2025.2
regex==2024.11.6
requests==2.32.3
scikit-learn==1.6.1
scipy==1.15.2
six==1.17.0
snscrape==0.7.0.20230622
soupsieve==2.7
threadpoolctl==3.6.0
tqdm==4.67.1
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
